# Bun
node_modules/
bun.lockb
*.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Builds
dist
build
*.jsc # Bun bytecode files

# Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

stitch
stitch-*
dist/
*.log